# Dependabot configuration
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "monthly"
