# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

#### Core EditorConfig Options ####

# Global settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 2
tab_width = 2

#### File Type Overrides ####

[*.{py,java,r,R}]
indent_style = space
indent_size = 4

[*.{md,Rmd,rst}]
trim_trailing_whitespace = false
