# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: PR unit test

on:
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: unit tests
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read
      pull-requests: write

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.12"]
        dotnet-version: ["6.x", "8.x"]

    env:

      # identifying primary configuration so only one reports to console
      IS_PRIMARY: ${{ matrix.os == 'macos-latest' && matrix.python-version == '3.12' && matrix.dotnet-version == '8.x' }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
          dotnet-quality: "ga"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          cache: "pip"
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          pip install -r requirements.txt
          pip install -r requirements-test.txt

      - name: Test indicators (not locale_specific)
        if: runner.os != 'macOS'
        run: pytest -vr A tests -m "not locale_specific"

      - if: runner.os == 'macOS'
        name: Test indicators, including locale_specific(ru_RU)
        run: |
          sed -i '' 's/export\ LC_ALL=en_US.UTF-8/export\ LC_ALL=ru_RU.UTF-8/g' ~/.bashrc
          source ~/.bashrc
          locale
          pytest -vr A tests $( $IS_PRIMARY && echo "--junitxml=test-results.xml" )
