# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Indicators

on: ["push"]

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    name: code coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install requirements
        run: |
          pip install -r requirements.txt
          pip install -r requirements-test.txt

      - name: Test indicators
        run: |
          coverage run -m --source=stock_indicators pytest -svr A tests --junitxml=pytest.xml
          coverage xml

      - name: Post test summary
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: coverage.xml
          junitxml-path: pytest.xml

      - name: Publish coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml
